*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav{
    padding: 1rem 14rem 1rem 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    margin-bottom: 4em;
}
main{
    height: 100vh;
}
.logo{
    width: 30%;
}
.items{
    width: 70%;
    display: flex;
    flex-direction: row;
    }
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content:space-between;
    width: 80%;
    align-items: center;
    font-weight: 600;
}
.button{
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.btnlink{
    padding: 10px 20px;
    border-radius: 5px;
    border:1px inset grey;
    text-align: center;
}
.btnlink:hover{
    background-color: gray;
    color: black;
    padding-right: 20px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
}
body {
    margin: 0;
    padding: 0;
  }
  .container{
    padding: 0em 4em;
    margin: 3em 5em;
    height: 100px;
  }
  img{
    max-width: 100%;
  }
    
  h2{
    color: #df6953;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-bottom: 1em;
  }
  h1{
    color: #181f4b;
    font-family: Volkhov, sans-serif;
    font-size: 55px;
    font-weight: bolder;
    margin-bottom: .5em;

  
  }
  p{
    color: #666b8a;
    font-size: 17px;
    margin-bottom: 1em;
  }
  .Find_button{
    background-color: #f0a501;
    color: white;
    border: none;
    padding: 1em;
    border-radius: 10px;
    margin-right: 7em;
  }
  
  .hero_text{
    width: 40%;
  }
  
  .line {
    position: absolute;
    top: 280px;
    left: 313px;
    width: 15%;
  }
  
  main{
    display: flex;
  }
  
  .lady{
    width: 70%;
    position: relative;
  }
  .lady img{
    position: absolute;
    top: -4em;
    right: 2em;
  }
  
  .play_demo{
    width: 52px;
    height: 52px;
    background-color:#df6953;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    border-radius: 100%;
    box-shadow: 0 15px 30px rgba(223, 105, 81, .3);
} 

  .play_demo img{
    width: 20%;   
    position: relative;
    left: 1.35em;
    bottom: -1.15em;
    
  }

  .buttons{
    display: flex;
  }
 
  .play{
    display: flex;
    gap: 1em;
  }

  .play .play_text{
    align-self: center;
    font-size: 17px;
    position: relative;
    bottom:-.5em;
  }

 
  